@font-face {
    font-family: 'Nechlas';
    src: url('../resources/fonts/Nechlas.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('../resources/background3.png');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 1fr;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
}

main-navbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

@keyframes slideIn {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}


.mBurger {
    display: none;
    position: fixed;
    right: 10px;
    top: 12px;
    z-index: 12;
    cursor: pointer;
    height: 35px;
    width: 5.75vw;
    flex-direction: column;
    justify-content: space-between;
}

.mBurger.cross div:nth-child(1) {
    transform: translateY(200%) rotate(45deg);
}

.mBurger.cross div:nth-child(2) {
    opacity: 0;
}

.mBurger.cross div:nth-child(3) {
    transform: translateY(-200%) rotate(-45deg);
}

.mBurger div {
    transition: all 0.3s ease;
}

.mBurger > div {
    border-bottom: 10px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

main {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#infos{
    background-color: #000000c4;
    padding: 5vh 2vw;    
    border-radius: 25px;
    height: fit-content;
    max-width: 40vw;
    margin-top: 2vh;
    margin-left: 4vw;
    box-shadow: 0 16px 40px 8px rgba(0,0,0,0.3);
    backdrop-filter: blur(3px);
}

#infos h2{
    color : white;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

#infos p{
    color : white;
    font-family: 'Poppins', sans-serif; 
}

.text-highlight2{
    color : #3b45ff; 
    font-family: 'Poppins', sans-serif;
        text-shadow: 
        0 0 5px #3b45ff,
        0 0 10px #3b45ff,
        0 0 20px #3b45ff,
        0 0 30px #3b45ff;
}

.text-highlight{
    color : #51f770; 
    font-family: 'Poppins', sans-serif;
        text-shadow: 
        0 0 0px #51f770,
        0 0 2px #51f770,
        0 0 3px #51f770,
        0 0 15px #51f770;
}

.title-highlight{
    color : #51f770; 
    font-family: 'Poppins', sans-serif;
        text-shadow: 
        0 0 0px #51f770,
        0 0 2px #51f770,
        0 0 3px #51f770,
        0 0 15px #51f770;
}

.title{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-family: 'Nechlas';
    font-size: 7rem;
    margin: 0;
    background: linear-gradient(135deg, #51f770, rgb(36, 169, 92));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: shine 3s linear infinite;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
}

main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0;
    grid-row:2;
}

main itinerary-component{
    margin-right: 17vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 25px;
    box-shadow: 0 16px 40px 8px rgba(0,0,0,0.3);
    backdrop-filter: blur(3px);
}

main h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;}

main-footer {
    grid-column: 1 / 3;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1100px) {
    .mBurger {
        display: flex;
    }

    main-navbar nav{
        display: none;
    }

    main-navbar.mobile {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20vw;
        padding: 2rem 1rem;
        animation: slideIn 1s ease-out forwards;
        background-color: rgba(53, 53, 53, 0.5);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: 5;
    }

    main-navbar.mobile nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: flex-start;
    }

    main-navbar.mobile nav a {
        color: #000000;
    }

    main-navbar.mobile nav a :hover{
        font-size: 2rem;
    }

    main-navbar.mobile header {
        margin-top: 5vh;
        display: block;
    }

    main-navbar #logo{
        display: none;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow : hidden;
    }

    .infos{
        justify-self: flex-start;
    }

    aside {
        display: none;
        transform: translateX(-100%);
        position: fixed;
    }

    main{
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main-footer{
        position: fixed;
        bottom: 0;
        height: 10vh;
        width: 100vw;
    }

    h1{
        margin : 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background: white;
        border: 1px solid #ccc;
        max-height: 200px;
        overflow-y: auto;
    }

    li {
        padding: 0.5rem;
        cursor: pointer;
    }

    li:hover {
        background-color: #f0f0f0;
    }

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
}

li {
    padding: 0.5rem;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}

